.container {
  position: relative;
  background-color: rgb(249, 246, 234);
  margin-top: 20px;
}

.imagecontainer{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  height: 45vh;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  padding-bottom: 20px;
}

.imagecontainer.visible {
  opacity: 1;
}

.h1{
  display: flex;
  justify-content: center; 
  font-size: 4rem;
  text-align: center;
  z-index: 1;
  padding-top: 100px;
  margin-top: 20px;
  letter-spacing: 0.5rem;
}

.h2{
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color:  rgb(196, 144, 2);
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  color: black;
}

.h2:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
