.container {
  /* background-color: rgb(225, 225, 225); */
  background-color: rgb(38, 34, 34);
  margin-top: 20px;
  color: rgb(159, 159, 159);
  padding: 15px 45px 15px 45px;
  z-index: 9999;
  font-size: 0.8rem;
}

.box {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(38, 34, 34);
  margin-top: 25px;
  color: rgb(159, 159, 159);
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid  rgb(77, 77, 77);
  border-bottom: 1px solid  rgb(77, 77, 77);
}

.Link {
  text-decoration: none;
  color: inherit;
}

.Link:hover {
  text-decoration: underline;
}

.comment {
  padding-top: 5px;
  padding-bottom: 15px;
}