html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color:rgb(255, 247, 224);
  position: relative;
  z-index: 1;
  padding-top: 45px;
  padding-bottom: 80px;
}

.h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 0;
}

.h3 {
    text-align: center;
    color: rgb(91, 91, 91);
    font-size: 1.3rem;
    margin-top: 30px;
    letter-spacing: 8px;
}

@keyframes dissolve {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.circle_container {
    animation: dissolve 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.circle_container .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    margin: 0;
}

.circle_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circle1 {
    background-color: rgb(169, 219, 247);
}

.circle2 {
    background-color: rgb(246, 206, 154);
}

.circle3 {
    background-color: rgb(128, 129, 103);
}
